@font-face {
    font-family: gameFont;
    src: url('./font/Hanalei_Fill/HanaleiFill-Regular.ttf');
}
body{
    margin: 0px;
    background-color: black;
    background-repeat: round;
    background-size: contain;
    font-family: gameFont;
    color: #bdeb05;
}
/* *{
    border:solid 2px red;
} */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    gap: 40px;
}
header div{
    font-size: 3rem;
    text-align: center;
}
.score div{
    font-size: 2rem; ;
}
.title-img{
    display: flex;
    justify-content: center;
    height:100px;
    width: 100px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.player{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.choose{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 20px 20px;
    gap: 40px;
    
}
.choose div{
    flex-basis:10% ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: solid 5px red;
}
.choose div:hover{
    background-color: yellow;
    box-shadow: 1px 1px 8px 8px lightgrey ;
}
.result {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 20px 20px;
    word-spacing: 10px;
}

.control{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
    align-items: center;
}
.control button{
    height: 50px;
    width: 120px;
    font-size: 1.5rem;
    background-color: red;
    font-family:gameFont;
    color: #bdeb05;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    height: 60px;
    width: 130px;
    color: yellow;
    box-shadow: 1px 1px 5px 5px lightgrey ;
}
footer{
    display: flex;
    justify-content: center;
    font-size:1.3rem;
    height: 40px;
    padding: 10px 10px;
    position: relative;
    top: 40px;
    left:0;
    width: 100%;
    bottom: 0;
    margin-bottom: 40px;

}
footer div{
    display: flex;
    padding: 5px;
    word-spacing:5px
}

/* Media query */

@media only screen and (max-width:1280px){

    header{
        flex-direction: column-reverse;
    }
    .choose{
        margin-top: 20px;
        align-items: center;
        height: 200px;
        padding: 15px 20px;
        gap: 30px;
        
    }
    .choose div{
        flex-basis:12% ;
        display: flex;

    }
}

@media only screen and (max-width:600px){

    header{
        flex-direction: column-reverse;
    }
    .title{
        font-size: 3rem;
    }
    .title-img{
        display: flex;
        justify-content: center;
        height:70px;
        width: 70px;
    }
    .choose{
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        height: 400px;
        padding: 15px 20px;
        gap: 20px;
        
    }
    .choose div{
        margin-top: 10px;
        width: 200px;
    }
    .result{
        font-size: 1.5rem;
        margin-top: 40px;
        text-align: center;
        word-spacing: 6px;
    }
    footer{
        font-size: 1rem;
    }
}
